@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #0f0f0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-table {
  color: white; /* Warna teks */
  background-color: #0f0f0f;
}

.custom-placeholder::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Warna putih dengan transparansi */
}
